body{
    background-color: darkcyan;
}
#start{
    background-color: darksalmon;
    text-align: center;
    text-decoration: brown;
    font-size: 30px;
}

h1{
    text-align: center;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
div{
    text-align: center;
}